* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}

h1{
  color: white;
}
section {
  background-color: #000000;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 90%;
  max-width: 400px;
  background-color: #323232;
  border-radius: 8px;
  overflow: hidden;
}
.display {
  background-color: #ff0000;
  height: 100px;
  width: 100%;
  text-align: right;
  padding: 20px;
  font-size: 30px;
  position: relative;
}
.display-1 {
  opacity: 0.6;
  font-size: 20px;
  height: 20px;
  overflow: hidden;
}
.temp-result {
  position: absolute;
  bottom: 0;
  left: 10;
  font-size: 20px;
  opacity: 0.6;
}
.all_button {
  color: whitesmoke;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
.button {
  border: 0.9px solid #ffac41;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
}
.button:hover {
  background-color: #af0404;
}
.btn-0 {
  grid-column: 1/3;
}

.heading {
  text-align: center;
}

.bottom-buttons {
  display: flex;
  margin-left: -2.3px;
  border: none;
  background-color: rgb(39, 36, 36);
  padding: 5px;
  color: white;
  margin: 2px 100px 0px;
  cursor: pointer;
  outline: none;
  border-radius: 20px;

  text-align: center;

  font-size: 0.8em;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: #fff;
  border: none;
  background-color: rgb(39, 36, 36);
  padding: 8px;
  color: white;
  margin: 2px;
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: 200;
}
.fab {
  font-size: 1.1em;
}

