*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Montserrat', sans-serif;
}
section{
  background-color:ffffff;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 90%;
  max-width: 400px;
  background-color: #a4ebf3;
  border-radius: 8px;
  overflow: hidden;
}
.display{
  background-color: #f9f6f7;
  height: 100px;
  width: 100%;
  text-align: right;
  padding: 20px;
  font-size: 30px;
  position: relative;
}
.display-1{
  opacity: .4;
  font-size: 20px;
  height: 20px;
  overflow: hidden;
}
.temp-result{
  position: absolute;
  bottom: 0;
  left: 10;
  font-size: 20px;
  opacity: .4;
}
.all_button{
  color: #000000;
  display: grid;
  grid-template:repeat(4, 1fr) / repeat(4, 1fr) ;
}
.button{
  border: .9px solid rgba(20, 20, 20, 0.137);
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
}
.button:hover{
  background-color: rgb(30, 43, 46);
}
.btn-0{
  grid-column: 1/3;
}

.heading{
  text-align: center;
}

.bottom-buttons {
  display: flex;
  margin-left: -2.3px;
  border: none;
  background-color: rgb(41, 38, 38);
  padding: 5px;
  color: white;
  margin: 2px 100px 0px;
  cursor: pointer;
  outline: none;
  border-radius: 20px;

text-align: center;

  font-size: 0.8em;
  font-weight: 200;
}

a {
  text-decoration: none;
  border: none;
  background-color: rgb(41, 38, 38);
  padding: 8px;
  color: white;
  margin: 2px;
  cursor: pointer;
  outline: none;
  border-radius: 4px;

  font-size: 0.8em;
  font-weight: 200;
}

.fab {
  font-size: 1.1em;
}
